
ul {
    list-style: none; 
    text-align: center;
    background-color: lightgray;
    padding: 1em;
    margin-right: 1em;
		margin-left: 1em;
    border-radius: 25px;
}
li {
    display: inline-block;
    background-color: gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 5px;
		margin-right: 10px
}

.cat-list {
        background-color: #555555;
}

a:link {
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
}
  
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

a:active {
    text-decoration: underline;

}


.label {
    text-align: center;
    text-decoration: underline;
    color: #557755;
    margin-bottom: 2em;
}

.welcome {
    text-align: center;
}

.cat {
    background-color: #555555;
    margin: 1em;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 3em;
    border-radius: 25px;
}

.cat-button {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 7em;
    padding-right: 7em;
    margin-bottom: 2em;
}

.sidebar {
    background-color: #444444;
    width: 130px;
    position: absolute;
    z-index: 1;
    top: 3.5em;
    right: 0;
    overflow-x: hidden;
    padding: 8px 0;
    margin-right: 1em;
}
